# Binaries
*.exe
*.out
*.test

# Build folders
/bin/
/dist/

# Go build cache
/bin
/pkg

# Logs
*.log

# Database files
*.db
api.db
*.sqlite
pgdata/

# Environment files
.env
.env.local
.env.docker

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/